.popup__close-button {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../../images/close-button.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}
.popup__close-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 520px) {
    .popup__close-button {
        top: -45px;
        right: 0;
    }
}
@media screen and (max-width: 320px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
    }
}
