.profile__avatar {
  width: 120px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.6s ease;
  object-fit: cover;
}
.profile__avatar:hover {
  opacity: 0.2;
}

@media screen and (max-width: 716px) {
    .profile__avatar {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .profile__avatar {
     }
}
