.header__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    line-height: 122%;
}