@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(../src/App.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/logo/logo.css);

@import url(./blocks/authorization/authorization.css);
@import url(./blocks/authorization/__title/authorization__title.css);
@import url(./blocks/authorization/__input/authorization__input.css);
@import url(./blocks/authorization/__input-error/authorization__input-error.css);
@import url(./blocks/authorization/__input-error/authorization__input-error_active.css);
@import url(./blocks/authorization/__button/authorization__button.css);
@import url(./blocks/authorization/__question/authorization__question.css);
@import url(./blocks/authorization/__question/authorization__question_link.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__avatar-block/profile__avatar-block.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__data/profile__data.css);
@import url(./blocks/profile/__user-name/profile__user-name.css);
@import url(./blocks/profile/__user-firstname/profile__user-firstname.css);
@import url(./blocks/profile/__user-profession/profile__user-profession.css);
@import url(./blocks/edit-button/edit-button.css);
@import url(./blocks/add-button/add-button.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/card__like-counter);
@import url(./blocks/button-like/button-like.css);
@import url(./blocks/button-like/_activ/button-like_activ.css);
@import url(./blocks/button-remove/button-remove.css);
@import url(./blocks/button-remove/button-remove_show.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/author/author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/popup_darck.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks//popup/__card/popup__card.css);
@import url(./blocks/edit-form/edit-form.css);
@import url(./blocks/edit-form/__title/edit-form__title.css);
@import url(./blocks/edit-form/__personalia/edit-form__personalia.css);
@import url(./blocks/input-error/input-error.css);
@import url(./blocks/edit-form/__personalia-error/edit-form__personalia-error.css);
@import url(./blocks/edit-form/__personalia-error/edit-form__personalia-error_active.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/save-button-disabled/save-button-disabled.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__user-photo/popup__user-photo.css);
@import url(./blocks/popup/__photo-title/popup__photo-title.css);

@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__icon/popup__icon.css);
